@model List<StorageViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div id="tableHolder">
<partial name="_IndexPartial" model="@Model" />
</div>

@section Scripts{
<script>

    $(function(){
        setInterval(function () {
            $.ajax({
                url: "@Url.Action("Refresh")",
                type: "Post",
                success: function(result) {
                    $("#tableHolder").html("");
                    $("#tableHolder").html(result);
                },
                error: function(result){
                    console.log(result);
                }
            });
        }, 1000);
    });

</script>
}